<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="phoenix_bridge_example" params="name">
    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>ros_phoenix/PhoenixBridge</plugin>
      </hardware>

      <joint name="left_wheel_joint">
        <command_interface name="velocity"/>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="right_wheel_joint">
        <command_interface name="velocity"/>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>